# Data Science Tools and Ecosystem

__Objectives:__
* List popular languages for Data Science.
* Learn about librarys for Data Science.
* Learn about common tools for Data Science.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Keras
4. Scikit


| Data Science Tools |
| ------------------ |
|Jupyter Notebooks|
|Watson Studio |
| RStudio |
|Oracle DB |

### Below are a few examples of evaluating arithmetic expressions in Python.
1+1

10-9

9-6

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jonathan Van Keulen